.category__list-item_text {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    transition: all 0.3s;
}

.category__list-item_text:hover {
    background-color: rgb(1, 47, 92);
    border-radius: 10px;
}
