.category {
  padding-top: 2rem;
}

.category__list-item_text {
  cursor: pointer;
}

.category__input-text {
    color: var(--color-search-bar);
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

input {
    display: flex;
    border-color: var(--color-text);
    text-emphasis-color: var(--color-text);
    color: black;
    font-size: 24px;
    height: 50px;
    width: 68%;
    border-radius: 10px;
    padding-left: 10px;
}

.category__input-box_button {
  padding-top: 1rem;
}

.category__input-box {
  display: flex;
  justify-content: stretch;
}

.category__input-box_search {
  flex: 1;
  display: flex;
}

.category__input-box_search input{
  flex: 1;
  display: flex;
  width: 100%;
  max-width: 400px;
  justify-content: flex-start;
  flex-shrink: 0;
}

.catogory__input-box_select {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  flex-shrink: 0;
}


@media screen and (max-width: 800px) {
  .category__input-box {
    flex-direction: column;
  }
  .catogory__input-box_select {
    justify-content: flex-start;
  }
}