.category {
  padding-top: 2rem;
}

.category__list-item_text {
  cursor: pointer;
}

.category__input-text {
  color: var(--color-search-bar);
  font-family: var(--font-family);
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

input {
  font-family: var(--font-family);
  display: flex;
  border-color: #6f38c5;
  text-emphasis-color: var(--color-text);
  color: black;
  font-size: 20px;
  height: 50px;
  width: 68%;
  border-radius: 10px;
  padding-left: 10px;
}

select {
  font-family: var(--font-family);
  display: flex;
  border-color: #6f38c5;
  border-width: 2px;
  text-emphasis-color: var(--color-text);
  color: black;
  font-size: 20px;
  height: 55px;
  width: 68%;
  border-radius: 10px;
  padding-left: 10px;
}

.category__input-box_button {
  padding-top: 1rem;
}

.category__input-box {
  display: flex;
  justify-content: stretch;
}

.category__input-box_search {
  flex: 1;
  display: flex;
}

.category__input-box_search input {
  flex: 1;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-shrink: 0;
}

.catogory__input-box_select select {
  flex: 1;
  display: flex;
  flex-shrink: 0;
  width: 100%;
  max-width: 400px;
}

@media screen and (max-width: 800px) {
  .category__input-box {
    flex-direction: column;
  }
  .catogory__input-box_select {
    justify-content: flex-start;
  }

  .catogory__input-box_select select {
    width: 100%;
    max-width: 300px;
  }

  .category__input-text {
    font-size: 20px;
  }

  .category__input-box_search input {
    max-width: 400px;
  }
}

@media screen and (max-width: 500px) {
  .category__input-box_search input {
    max-height: 30px;
  }

  .catogory__input-box_select select {
    font-size: 14px;
    max-height: 30px;
  }

  .category__input-box_search input {
    width: 100%;
    max-width: 300px;
    font-size: 14px;
  }
}
