.mwat__gameplay-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font-family);
    background-color: var(--color-bg);
    border-radius: 10px;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
    border-style: solid;
    border-width: 6px;
    border-color: var(--color-text);
}

.mwat__stats-and__text-length {
    align-content: flex-start;
    display: flex;
    flex-direction: row;
}

.mwat__gameplay-stats__and-text__length-stats {
    display: flex;
    flex-direction: column;
    color: var(--color-text);
}

.mwat__gameplay-advice {
    display: flex;
    color: var(--color-text);
    justify-content: flex-start;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    padding-top: 3rem;
}

.mwat__gameplay-advice_text {
    font-size: 26px;
    display: flex;
    justify-content: center;
    color: var(--color-text);
    border-radius: 5px;
}

.mwat__gameplay-advice_word {
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--color-text)
}

.mwat__gameplay-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mwat__gameplay-options_single {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mwat__gameplay-options_single p {
    border-style: solid;
    border-radius: 10px;
    font-size: large;
    padding: 1rem;
    font-family: var(--font-family);
    color: var(--color-text);
    background-color: var(--color-bg);
    cursor: pointer;
    transition: all 0.3s
}

.mwat__gameplay-options_single-option {
    padding: 0rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.mwat__gameplay-options_single-option p:hover {
    border-radius: 20px;
    background-color: var(--color-text);
    color: var(--color-bg)
}

.mwat__gameplay-main Button {
    margin-top: 2rem;
    align-self: center;
    width: 80%;
    border-style: solid;
    border-color: var(--color-text);
    border-width: 2px;
    color: var(--color-text);
    transition: all 0.3s;
}

.mwat__gameplay-main Button:hover {
    background-color: var(--color-text);
    color: var(--color-bg);
    border-radius: 10px;
    border-color: red;
}

.mwat__gameplay-options {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    .mwat__gameplay-advice_text {
      padding-top: 1rem;
      font-size: 20px;
    }
    .mwat__gameplay-advice_word {
      font-size: 20px;
    }
    .mwat__gameplay-options_single-option p {
      font-size: 14px;
    }
  }

  @media screen and (max-width: 750px) {
    .mwat__gameplay-options_single {
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 600px) {
    .mwat__stats-and__text-length {
        flex-direction: column;
        font-size: 16px;
    }

    .mwat__gameplay-text__length {
        font-size: 16px;
        padding: 0;
        margin: 0;
        padding-top: 2rem;
    }
  }

  @media screen and (max-width: 450px) {
    .mwat__gameplay-options_single {
      flex-direction: column;
    }

    .mwat__stats-and__text-length {
        flex-direction: column;
        font-size: 14px;
    }

    .mwat__gameplay-text__length {
        padding-top: 1rem;
        font-size: 14px;
    }
  }