
.dictionary {
  padding-top: 2rem;
}

.category__list-item_text {
  cursor: pointer;
}

.dictionary__header {
  color: var(--color-search-bar);
  font-family: var(--font-family);
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

input {
  font-family: var(--font-family);
  display: flex;
  border-color: #6f38c5;
  text-emphasis-color: var(--color-text);
  color: black;
  font-size: 20px;
  height: 50px;
  width: 68%;
  border-radius: 10px;
  padding-left: 10px;
}

select {
  font-family: var(--font-family);
  display: flex;
  border-color: #6f38c5;
  border-width: 2px;
  text-emphasis-color: var(--color-text);
  color: black;
  font-size: 20px;
  height: 55px;
  width: 68%;
  border-radius: 10px;
  padding-left: 10px;
}

.dictionary__category-input__container-button {
  padding-top: 1rem;
}

.dictionary__category-input__container {
  display: flex;
  justify-content: stretch;
}

.dictionary__category-input__container-search {
  flex: 1;
  display: flex;
}

.dictionary__category-input__container-search input {
  flex: 1;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-shrink: 0;
}

.dictionary__category-input__container-select select {
  flex: 1;
  display: flex;
  flex-shrink: 0;
  width: 100%;
  max-width: 400px;
}

@media screen and (max-width: 800px) {

  .dictionary__category-input__container-search input {
    width: 100%;
  }

  .dictionary__category-input__container {
    flex-direction: column;
  }
  .dictionary__category-input__container-select {
    justify-content: flex-start;
  }

  .dictionary__category-input__container-select select {
    width: 100%;
    max-width: 100%;
  }

  .dictionary__header {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {

  .dictionary__category-input__container-select select {
    font-size: 14px;
    max-height: 30px;
  }

  .dictionary__category-input__container-search input {
    width: 100%;
    font-size: 14px;
    max-height: 30px;
  }
}
