.hangman__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font-family);
    background-color: var(--color-bg);
    border-radius: 10px;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
    border-style: solid;
    border-width: 6px;
    border-color: var(--color-text);
}

.hangman__info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hangman__infocontainer-letters {
    color: var(--color-text)
}

.hangman__stats-and__text-length {
    align-content: flex-start;
    display: flex;
    flex-direction: row;
}

.hangman__gameplay-stats__and-text__length-stats {
    display: flex;
    flex-direction: column;
    color: var(--color-text);
}

.hangman__wordToBeGuessed {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text);
    font-size: 30px;
}
