.singleword {
    font-family:'Times New Roman', Times, serif;
    color: var(--color-text);
}

.singleword__word {
    padding-top: 1rem;
}

.singleword__finnish {
    font-weight: 800;
    font-size: 24px;
}

.singleword__english {
    font-weight: 800;
    font-size: 24px;
}

.singleword__definition {
    padding: 2rem 0;
    white-space: pre-wrap;
    font-size: 24px;
}

.singleword__sources {
    font-size: 24px;
}

.singleword__backwards-button {
    padding-top: 1rem 0rem;
}