.tvt__games {
    display: flex;
    flex-direction: column;
    background-color: #D6E4E5;
    border-radius: 10px;
    padding: 1rem;
}


.tvt__games-selection p {
    font-family: var(--font-family);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: var(--color-bg);
    border-style: solid;
    border-radius: 10px;
    height: 50px;
}

.tvt__games-selection_options button {
    color: #1e1e1e;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 50px;
    border: none;
    background-color: var(--color-bg);
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.tvt__games-selection_options {
    display: flex;
    justify-content: space-around;
}

.tvt__games-selection_option-single {
    cursor: pointer;
}

.tvt__games-selection_option-single:hover {
    zoom: 1.1;
}

.tvt__games-selection_option-single button {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 254px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-width: 2px;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
}

.tvt__games-selection_option-single img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 250px;
    height: 250/1.50234px;
    border-top-color: #1e1e1e;
    border-width: 2px;
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
}

@media screen and (max-width: 600px) {
    .tvt__games-selection_options {
        flex-direction: column;
        align-items: center;
    }
    .tvt__games-selection_option-single {
        padding-top: 2rem;
    }
}