.tvt__games {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font-family);
    background-color: var(--color-bg);
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 4rem;
    border-style: solid;
    border-width: 6px;
    border-color: var(--color-text);
}

.tvt__games-selection {
    border-radius: 5px;
}

.tvt__games-selection p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-size: 24px;
    height: 50px;
    color: var(--color-text);
}

.tvt__games-selection_options {
    display: flex;
    justify-content: space-around;
    margin: 2rem;
    padding: 2rem;
    border-color: var(--color-text);
}

.tvt__games-selection_option-single {
    transition: all 0.3s;
    cursor: pointer;
}

.tvt__games-selection_option-single:hover {
    opacity: 0.8;
}

.tvt__games-selection_option-single button {
    color: white;
    font-family: var(--font-family);
    line-height: 50px;
    border: none;
    background-color: var(--color-bg);
    flex-direction: column;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    flex: 1;
    align-items: center;
    width: 254px;
    border-color: var(--color-text);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-width: 2px;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    transition: all 0.3s;
}

.tvt__games-selection_option-single button:hover {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: var(--color-text);
    color: var(--color-bg);
}

.tvt__games-selection_option-single img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 250px;
    height: 250/1.50234px;
    border-color: var(--color-text);
    border-width: 2px;
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    background-color: var(--color-text);
}




@media screen and (max-width: 650px) {
    .tvt__games-selection_options {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .tvt__games-selection_option-single {
        padding-top: 2rem;
    }
}